<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>976011450121-l463nq0b4897tsr0vu0mr678078qshba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976011450121-l463nq0b4897tsr0vu0mr678078qshba</string>
	<key>API_KEY</key>
	<string>AIzaSyCnyvHDeiSeDGoO5DfXwyMJnHoD3vTmt7c</string>
	<key>GCM_SENDER_ID</key>
	<string>976011450121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mitsui.citas.mb</string>
	<key>PROJECT_ID</key>
	<string>mitsui-citas-android</string>
	<key>STORAGE_BUCKET</key>
	<string>mitsui-citas-android.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976011450121:ios:f111284ee179f3b1</string>
	<key>DATABASE_URL</key>
	<string>https://mitsui-citas-android.firebaseio.com</string>
</dict>
</plist>