$ColorGray001 = #6b6b6b
.q-popover{
  top: 500px;
  left: 500px;
}

.modal-header {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 24px 24px 10px;
  text-align: left;
  padding-bottom: 5px;
  padding-top: 10px;
}

.modal-buttons {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  color: #027be3;
  color: var(--q-color-primary);
  justify-content: flex-end;
  padding: 22px 8px 8px;
  padding-top: 10px;
}

/*app global css*/
.pagina { background: #ffff}
.letras { color: #959595cc}
.font_xs { font-size: 14px; font-style: inherit;}
.font_sm { font-size: 12px !important; font-style: inherit !important; color: rgb(149, 149, 149) !important;}
.radius_xs {border-radius: 0.1px !important;} 
.bordes-from{ border: 0.2px solid rgba(22,21,21,0.17) !important;}
.margen-from-title{margin-top: 5% !important; margin-bottom: 10% !important;}
.margen-xs{ margin-top: 10% !important;}
.q-layout-footer { box-shadow: none;}
.mytolbar{ background: #1d5593 !important;}
.icono {font-size: 24px !important;}
.color-icon {color: #726464}
/*Quasar*/
.q-tabs-scroller{ position: fixed; width: 100%; background: white;  z-index: 1; padding: 20px;}
.q-tabs-scroller .active {border-bottom: 2px solid #2c558e;}
.q-tabs-scroller .active:before{
  content: none;
}
.q-tab-label {font-size: 11px; font-weight: bold;}
/*Transacccion*/
.fade-enter-active, .fade-leave-active 
{
  transition: all .2s ease-in-out;  
}
.fade-enter, .fade-leave-active 
{
  transform: scale(1.5);
}
.btnClose
{
  /*font-size: 17px !important;*/
  color: #8c8585;
  position: absolute;
  left: 0px;
  top: 15px;
}
.hiddenBackground
{
  background: url('../statics/images/fondo_mitsui.png') no-repeat fixed center;
}
.cardApp
{
  margin-bottom: 15px !important;
  width: 100% !important;
}
.house
{
    width: 24px;
    height: 24px;
}
.icon-logout {
  width: 25px;
  padding-right: 7px;
  color: #1d5593;
}
.imgResponsive 
{
  max-width: 100%;
  height: auto;
}

.container 
{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr 3fr 3fr 3fr;
}

.validationText
{
  font-style: italic;
  color: red;
}
/*Fuente*/
*{
  //font-family: 'Kanit', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}
.bg-menu{
  box-shadow: 0 2px 5px -1px rgba(0,0,0,0.2), 0 4px 5px rgba(0,0,0,0.14), 0 1px 10px rgba(0,0,0,0.12);
}

.toltip-points {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 9;
  width: 180px;
  font-size: 10px;
}

.toltip-points .animate-popup-down {
  background: #FFF !important;
  line-height: 20px;
  height: 20px;
  color: grey;
  font-size: 10px;

}
.toltip-points .animate-popup-down label {
  color: grey;
  font-size: 10px;
}
.shadow-1 {
  box-shadow: 0 0px 4px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.14), 0 1px 1px -2px rgba(0,0,0,0.12);
}

.activado {
  fill: red;
}
.activado .q-btn-inner .q-icon img{
  background-color: transparent;
  fill: red;
}

.model_map > .modal-content{
  padding: 0 !important;
}
.stabilizeDiv
{
  position: fixed;
  z-index: 1;
  background: #fff;
}
.downDiv
{
  bottom: 0px;
  padding: 20px;
  width: 100%;
  margin-left: -20px;
}
.btnTooltip
{
  background: #2c558e;
  color: #fff;
  width: 26%;
  margin-top: 5px;
  border-radius: 20px;
  top: 50% !important;
  left: calc(50% - 40px) !important;
}



