.img-auto{width: 100%; height: 100%;}
.item-card{padding: 5%;}
.collapser{margin-bottom: 15px !important;}
.collapser-item{background:#1d5593;}
.q-item-icon{color:#1d5593;}

.content_top-hs {
    margin-top: 10px;
    border-radius: 8px 8px 0px 0px !important;
    color: #fff;
    padding: 7px 20px;
    height: 46px;
}

.content_top-hs p{
    font-size: 13px;
    line-height: 15px;
    margin: 0px;
}

.content_top-hs .q-card-title {
    width: 100%;
    font-weight: bold;
}

.q-card {
    margin-bottom: 15px;
    border-radius: 5px;
}

.q-card-details p{
    line-height: 14px;
}

.label_h {
    margin-bottom: 0px;
}

.btn-blue {
    background-color: #2e70b0;
    color: #fff;
    width: 160px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.format
{
    width: auto !important;
}
.btn-red {
    background-color: #ba291e;
    color: #fff;
    width: 160px;
    margin: 0 auto;
}