@import 'themes/common.variables'


.checkClave > div.active{
  background-color: transparent !important;
}

.checkClave > .text-faded{
  margin-top: 3px;
}


.login_content {
  width: 75%;
  max-width: 250px;
}

.login_content img {
  width: 100%;
}

.logo {
  margin-bottom: 20px;
  margin-top: 15%;
}

.fondo {
  background: #eeeff1 !important;
}

.login {
  background: #fff;
  border-radius: 0.1px;
  padding: 20px;
  margin-bottom: 1px;
}

.login_input {
  font-size: 14px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  font-family: inherit !important;
}

.login_input-newaccount {
  font-size: 14px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  font-family: inherit !important;
  font-size: 12px !important;
  height: 40px;
  box-shadow: none;
}

.input-forgot-pass {
  box-shadow: none;
  border-radius: 3px;
  padding: 7px 20px !important;
  background: #fff !important;
  border: 1px solid #ddd;
  font-size: 12px;
}

.usr {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: none;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 0px solid #ddd;
}
.pass {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: none;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-top: 0px solid #ddd;
}

.footer {
  font-size: 13px !important;
}

.btn-login {
  border-radius: 100px !important;
  padding: 8px !important;
  margin-top: 15%;
  background-color: #2e70b0;
  color: #FFF;
}

.btn-login .q-btn-inner>div {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.6px;
}

.forgot-pass .q-item{
    min-height: 15px;
}

.forgot-pass .q-item .q-item-section{
  padding: 3px 2px !important;
}

.login_texto {
  font-size: 12px;
  color: #3b436da8;
  font-family: inherit !important;
}

.login_texto .q-item-label{
  text-align: right;
  color: #888;
  font-weight: 600;
}

.login_input > div > input::placeholder{
  font-size: 11px;
}

.q-field-icon {
  font-size: 23px !important;
  margin-right: 8px !important;
  color: #fff;
}

.q-item {
  padding: 1px 1px !important;
}

.popup_title {
  margin-bottom: 20%;
  margin-top: 50%;
  font-family: inherit !important;
  color:$ColorGray001;
  font-weight: lighter;
  font-size: 18px;
}

.popup_input {
  padding: 10px !important;
  background: white !important;
}

.popup_p {
  font-size: 12px;
  padding: 5px;
  margin-top: 9px;
  font-style: unset !important;
  font-family: inherit !important;
}

.popup_btn {
  margin-top: 10%;
}

.border-footer {
  box-shadow: 0 0px 0px 0px !important;
  padding-bottom: 5% !important;
}

.background {
  background: #1d5593;
  color: white;
}
.mora1
{
    border: 0.5px solid red; 
    width: 100%; 
}
.mora2
{   
    border: 0.5px solid transparent;
    width: 100%; 
}
.hdni {
  height: 40px;
}
::-webkit-input-placeholder 
{ 
  color: #9b9494; 
} 
.mora2:focus{  
  outline: 0 none;
}
.btn-logout 
{
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: bold;
}
.color-gray 
{
  color: #8f8e93;
}
.containerLogin 
{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr 2fr 4fr;
}

.create-account .modal-content .btn-newaccount{
  padding: 8px 0px !important;
  border-radius: 70px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
  width: 100%;
  background-color: #2e70b0 !important;
}

.btnClose-reg {
  font-size: 18px !important;
  color: #8c8585;
  font-weight: 100 !important;
  float: left;
  padding: 0px !important;
  position: absolute !important;
  top: 15px;
  left: 0px;
}

.mt40 {
  margin-top: 40px;
}
.terms-policies {
  font-size: 11px;
  color: $ColorGray001 !important;
  text-align: left;
  line-height: 12px;
}
.b-right {
  border-right: 1px solid #EEE;
}

.btn-forgot-pass {
  position: relative;
  bottom: 20px;
  left: 0px;
  width: 150px !important;
  border-radius: 50px !important;
  background-color: #2e70b0;
  color: white;
  margin-top: 130px;
}

.btn-forgot-pass .q-btn-inner{
    padding: 0px 0px !important;
    text-transform: uppercase;
    font-weight: bold;
}

.txt-forgot-pass {
  color: #000;
  line-height: 15px;
}

.letter-spacing {
  letter-spacing: 2px;
}

.color-title {
  color: #555;
}

.fixPopup
{
  position: fixed;
  z-index: 1;
  background: white;
  margin-top: -20px;
  margin-left: -30px;
  width: 100%;
  padding: 15px;
}
.containerPopup
{
  padding-top: 50px;
}

@media(max-width:320px)
{
  .containerLogin
  {
    grid-template-rows: 1fr 5fr 2fr 5fr;
  }
}
.containerRegister
{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr 2fr 4fr;
}

.prueba .q-if:before, .prueba .q-if:after {

  border-bottom-style: none;
  }