.icon-griw { width: 100px; height: 100px;}
.contenedor{ padding: 15%;}
.cont-title{margin-bottom: 20%;}
.cont-row{margin-left: 15%;}
.drawe-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    margin-top:30px;
}
.score-login{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.zone-score {
    background-color: #1f5692;
    border-radius: 50px;
    color: #fff;
    /* height: 19px; */
    line-height: 19px;
    margin-bottom: 10px;
    padding: 2px;
}

.zone-score .scoresl{
    line-height: 14px;
    color: white;
    width: 70%;
    float: right;
    margin-top: 3px;
}

.scorelateral{
    margin-top: 0px !important;
    width: 68px !important;
}

.icon-score 
{
    width: 15px;
    padding-left: 2px;
   // margin-top: 2px;
    margin-top: 0px;
}
.grid-container 
{
    display: grid;
    grid-template-columns: auto auto;
}
.grid-item 
{
    text-align: center;
    padding: 30px;
}

.closeDrawer{
     font-size: 20px !important;
    padding-bottom: 22px !important;
    padding-top: 0px !important;
    padding-left: 222px !important;
    position: absolute !important;

    }
   

.drawe-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    margin-top:0px;
}

.puntaje{
width: 100px !important;
}
.cabecera{
    height: 25px !important;
    }
