.card-image {border-bottom: 2px solid rgb(232, 221, 221) !important;}
.card-indicator
{
    top: 0px;
    right: 8px;
    transform: translateY(-50%);
    border-radius: 20px;
    padding: 2px 18px;
}

.modal .modal-content 
{
    /*padding: 20px;*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

.modal .modal-content button{
    border-radius: 40px;
    font-weight: bold;
    font-size: 15px;
    text-transform: capitalize;
    padding: 5px 20px;
    min-height: 26px !important;
    line-height: 26px;
}

.tit_popup {
    padding: 10px 0px;
}

.row_filter {
    padding: 10px 0px;
    height: 40px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}
.row_filter p{
    float: left;
}
.car-model {
    float: right;
}

.car-model .q-if:before{
    height: 0px;
}
.closePopup
{
    color: #8c8585;
    margin-left:-20px;
}
.divPopup
{
    padding: 8px;
}
