.item_title-hs {
    color: #FFF;
}

.item_title-hs .q-card-title{
    line-height: 15px;
    font-size: 15px;
}

.item_title-hs p{
    font-size: 13px;
    line-height: 12px;
}

.q-item-side-right .q-item-icon {
    color: #FFF;
}

.box-service .q-collapsible-sub-item {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}